<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>
<body>
    <h1>All Available Cupcakes:</h1>
    <ul class="cupcake_list">
         {% for cupcake in cupcakes %}
        <li data-id="{{cupcake.id}}">{{cupcake.flavor}}</li>
        {% endfor %}
    </ul>
    <form class="new-cupcake-form">
        Flavor:<input type="text" id="flavor">
        <br>
        Size:<input type="text" id="size">
        <br>
        Rating:<input type="float" id="rating">
        <br>
        Image:<input type="url" id="image">
        <br>
        <button class="add_cupcake_btn">Add Cupcake</button>
    </form>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="static/cupcakes.js"></script>
</body>
</html>
